h3{
    text-align: center;
}
p#cardapio_bebidas{
    text-align: center;
}
p#cardapio_menu{
    text-align: center;
}
div#divbotao{
    text-align: center;
}
#pizzaicon{
    font-size: 30px;
}
#bebidaicon{
    font-size: 30px;
}