#pizzaicon{
    font-size: 30px;
}
#quatroicons{
    text-align: center;
    font-size: 60px;
}
div#divbotao{
    text-align: center;
}
#letraquatroicons{
    font-size: medium;
}
/* CARD DA INDEX */
h5#cardp{
    text-align: center;
}
/* /CARD DA INDEX */