/* CSS AJUDA.HTML */
#tituloform{
    text-align: center;
}
.contact-form {
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 40px 30px;
}
.contact-form .btn {
	background: red;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 50px;
	letter-spacing: 2px;
}
.map-area {
	width: 600px;
	height: 465px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.map-area iframe {
	width: 100%;
	height: 100%;
	border: none;
}
/*responsive*/

@media (max-width: 991px) {
	.contact-form {
		margin-bottom: 30px;
	}
	.map-area {
		width: 100%;
		height: 400px;
	}
}
#pizzaicon{
    font-size: 30px;
}
/* /CSS AJUDA.HTML */

/* CSS CARDAPIO.HTML */
h3{
    text-align: center;
}
p#cardapio_bebidas{
    text-align: center;
}
p#cardapio_menu{
    text-align: center;
}
div#divbotao{
    text-align: center;
}
#pizzaicon{
    font-size: 30px;
}
#bebidaicon{
    font-size: 30px;
}
/* /CSS CARDAPIO.HTML */

/* CSS HORARIOS.HTML */
#timeicon{
    font-size: 30px;
}
#horariosinformativo{
    text-align: center;
}
#informativo{
    font-size: 30px;
}
div#divbotao{
    text-align: center;
}
/* /CSS HORARIOS.HTML */

/* CSS INDEX.HTML */
#pizzaicon{
    font-size: 30px;
}
#quatroicons{
    text-align: center;
    font-size: 60px;
}
div#divbotao{
    text-align: center;
}
#letraquatroicons{
    font-size: medium;
}
/* CARD DA INDEX */
h5#cardp{
    text-align: center;
}
/* /CARD DA INDEX */
/* /CSS INDEX.HTML */

/* CSS QUEMSOMOS.HTML */
/* IMAGENS REDONDAS DEVE SER FEITO PELO PHOTOSHOP COM O FUNDO VAZIO */
div#divbotao{
    text-align: center;
}
/* IMAGENS REDONDAS DEVE SER FEITO PELO PHOTOSHOP COM O FUNDO VAZIO */
/* /CSS QUEMSOMOS.HTML */

/* CSS REGIOES.HTML */
.map-area {
	width: 600px;
	height: 465px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.map-area iframe {
	width: 100%;
	height: 100%;
	border: none;
}
/*responsive*/

@media (max-width: 991px) {
	.contact-form {
		margin-bottom: 30px;
	}
	.map-area {
		width: 100%;
		height: 400px;
	}
}
#informativoregioes{
    text-align: center;
}
div#divbotao{
    text-align: center;
}
/* CSS REGIOES.HTML */

/* PARTE 2 DO PROJETO */
/* ESTETICA DO CSS */
/* BODY */
body{
	background-color: #d9bea0;
	}
nav#navbartopo{
	background-color: #c72116e7;
}
/* /BODY */
/* /ESTETICA DO CSS */
/* /PARTE 2 DO PROJETO */